//Font
$font: 'Montserrat', sans-serif;
$light: #dfe8e8;
$dark: #171b1c;
$darkness: #001114;
$primary-color: #007d99;
$gray: #3b4345;
$white: #fbfefe;

//Media Queries
$phone: 380px;
$tablet: 768px;
$tabletAlt: 930px;
$desktop: 1200px;
