@import '../base/mixins';
section.Articles-container {
    padding: 4rem 0;
    @include tablet-alt {
        padding: 6rem 0;
    }
    .Articles-cards-container {
        width: 100%;
        display: grid;
        place-content: center;
        gap: 2rem;
        margin-top: 4rem;
        @include tablet-alt {
            min-height: 80%;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
