@import '../base/mixins';
section.Hero-container {
    text-align: center;
    overflow: hidden;
    @include tablet-alt {
        min-height: calc(100vh - 6rem);
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 5rem;
        text-align: left;
        overflow: visible;
        overflow-y: hidden;
    }
    div.Hero-content {
        h1 {
            font-size: 4rem;
            margin-top: 3rem;
        }
        span {
            font-size: 2rem;
        }
        p {
            font-size: 1.8rem;
            margin: 3rem 0;
            @include tablet-alt {
                text-align: left;
            }
        }
        .Hero-buttons {
            margin: 4rem 0 3rem;
            display: flex;
            justify-content: center;
            @include tablet-alt {
                justify-content: flex-start;
                margin: 4rem 0 0;
            }
            column-gap: 20px;
        }
        .Stack {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            overflow: hidden;
            position: relative;
            width: 100%;
            margin-bottom: 2rem;
            .Stack-slide-track {
                animation: scrollL 90s linear infinite;
                display: flex;
                gap: 3rem;
                width: calc(5rem);
                @include tablet {
                    width: calc(5rem);
                }
            }
            @keyframes scrollL {
                0% {
                    //transform: translateX(calc(-250px * 7)); // Derecha
                    transform: translateX(0); // Izquierda
                }
                100% {
                    //transform: translateX(calc(0)); // Derecha
                    transform: translateX(calc(-250px * 7)); // Izquierda
                }
            }
        }
    }
    div.Hero-image {
        position: relative;
        margin: 0 auto;
        width: 26rem;
        height: 30rem;
        @include tablet {
            width: 46rem;
            height: 56rem;
        }
    }
}
