section.Projects-container {
    padding: 4rem 0;
    @include tablet-alt {
        padding: 6rem 0;
    }

    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
    p {
        font-size: 1.6rem;
    }
    .Projects-cards-container {
        width: 100%;
        display: grid;
        place-content: center;
        @include tablet-alt {
            height: 80%;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.6rem;
        font-weight: bold;
        transition: all 1s ease;

        margin-top: 3rem;
        @include tablet-alt {
            margin-top: 5rem;
        }
    }
}
