a.Article-card {
    width: 100%;
    display: grid;
    border-radius: 1.2rem;
    overflow: hidden;
    transition: all 0.5s ease;

    .Article-card-content {
        padding: 2rem 2rem;
        display: grid;
        gap: 0.8rem;
        .Article-caegory {
            margin-bottom: 0.4rem;

            span {
                background-color: rgba(163, 163, 163, 0.458);
                border-radius: 1.2rem;
                padding: 0.2rem 1rem;
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
        h1 {
            font-size: 1.8rem;
            font-weight: 600;
        }
        h4 {
            font-weight: 400;
            text-align: justify;
            margin: 0;
            @include tablet-alt {
                width: 90%;
            }
            p {
                font-size: 1.4rem;
            }
        }
        div.Article-author {
            justify-self: flex-end;
            display: flex;
            gap: 2rem;
            span {
                font-style: italic;
                font-weight: 500;
                font-size: 1.4rem;
            }
        }
    }
    &:hover {
        transform: scale(1);
    }
}
