article.Project-card {
    max-width: 36rem;
    width: 100%;
    border-radius: 1.2rem;
    overflow: hidden;
    margin-top: 2rem;
    .Project-card-image {
        position: relative;
        width: 100%;
        height: 20rem;
        img {
            filter: brightness(2);
            object-fit: cover;
            object-position: top;
            transition: all 1s ease;
        }
    }
    .card-content {
        width: 100%;
        padding: 2rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        h1 {
            font-size: 2rem;
        }
        button {
            margin-top: 1rem;
            font-size: 1.6rem;
        }
    }
    &:hover {
        img {
            transform: scale(1.05);
            filter: brightness(3);
        }
    }
}
